@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

// Font-family
$font-family: 'Open Sans', system-ui, sans-serif;

// Colors
$primary-color: #76d64b;
$secondary-color: #000000;
$primary-hover-color: #326c56;
$background-color: #f0f0f0;

// Border-radius

$border-radius-square: 10px;
$border-radius-button: 100px;
$border-radius-input: 5px;
